@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-index-item {
    &__hd {
        background: @index-item-bg;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        height: @index-item-size;
        line-height: @index-item-size;
    }
}
