@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-whitespace {
    &--small {
        height: @whitespace-size-sm;
    }

    &--default {
        height: @whitespace-size-base;
    }

    &--large {
        height: @whitespace-size-lg;
    }
}
