@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-cell-group {
    &--card {
        margin: @cell-group-margin;
    }

    &__hd {
        padding: @cell-group-hd-padding;
        font-size: @font-size-base;
        color: @text-color-secondary;
        width: 100%;
        box-sizing: border-box;
    }

    &__bd {
        position: relative;
        background-color: @cell-bg;
        overflow: hidden;
    }

    &--has-line > &__bd::after {
        .hairline(@border-color-split);

        border-top-width: @border-width-base;
        border-bottom-width: @border-width-base;
    }

    &__ft {
        padding: @cell-group-ft-padding;
        font-size: @font-size-base;
        color: @text-color-secondary;
    }

    &--card > &__hd {
        padding-left: 0;
        padding-right: 0;
    }

    &--card > &__bd,
    &--card > &__ft {
        border-radius: @cell-group-bd-radius;

        &::after {
            display: none !important;
        }
    }
}
