@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-app {
    color: @heading-color;
    font-family: @font-family;
    font-size: @font-size-base;
    line-height: @line-height-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
