@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-wingblank {
    &--small {
        margin-left: @wingblank-size-sm;
        margin-right: @wingblank-size-sm;
    }

    &--default {
        margin-left: @wingblank-size-base;
        margin-right: @wingblank-size-base;
    }

    &--large {
        margin-left: @wingblank-size-lg;
        margin-right: @wingblank-size-lg;
    }
}
