@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-index {
    width: 100%;
    position: relative;
    overflow: hidden;

    &__nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translate3d(0, -50%, 0);
        display: flex;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__nav-row {
        cursor: pointer;
        width: auto;
        text-align: right;
        position: relative;
        padding: 0 6px;
    }

    &__nav-item {
        display: inline-flex;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        justify-content: center;
        align-items: center;

        &--current {
            color: @text-color-inverse;
            background-color: @balanced;
            border-radius: 50%;
        }
    }

    &__indicator {
        position: fixed;
        width: @index-indicator-size;
        height: @index-indicator-size;
        line-height: @index-indicator-size;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;
        background-color: @index-indicator-bg;
        border-radius: @index-indicator-border-radius;
        color: @index-indicator-color;
        font-size: @index-indicator-font-size;
    }
}
