@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-checkbox {
    &__selectable {
        position: static !important;

        // &-horizontal {
        //     padding-top: @spacing-sm;
        //     padding-bottom: @spacing-sm;
        // }
    }

    &__icon-position {
        display: flex;
        align-items: center;
    }

    &__icon-selectable {
        // default icon size = 23
        min-width: 23px + @margin-component-base * 2;
        margin-right: (@spacing-lg + 1px) / 2;
    }

    &__extra {
        align-self: center;
        text-align: left;
        color: @text-color-secondary;
        margin-right: @margin-component-base;
    }
}
