@import "../styles/mixins/index.less";
@import "../styles/themes/index.less";

.@{wux-prefix}-cascader {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: @cascader-font-size;
    line-height: 1.5;
    color: @cascader-color;

    &__hd {
        position: relative;
        flex: none;
        width: 100%;

        &::after {
            .setBottomLine(@border-color-split);
        }
    }

    &__bd {
        position: relative;
        flex: auto;
        width: 100%;
        height: 100%;
    }

    .toolbar-style(@heading-color, @stable-inverse, @balanced);
}
